:root {
  --font-size-xl: 1.625rem; /* 26px ÷ 16px */
  --font-size-lg: 1.125rem; /* 18px ÷ 16px */
  --font-size-md: 0.9375rem; /* 15px ÷ 16px */
  --font-size-sm: 0.875rem; /* 14px ÷ 16px */

  /* Background Colors */
  --color-bg-primary: #ffffff;
  --color-bg-blur: rgba(255, 255, 255, 0.7);

  /* Text Colors */
  --color-text-primary: #222326;
  --color-text-secondary: #65719d;
  --color-text-muted: rgba(119, 118, 139, 0.2);

  /* Accent Colors */
  --color-accent: #f5e8fe;

  /* Border/Stroke Colors */
  --color-stroke-primary: #e5e5ea;
  --color-stroke-muted: rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    width: 96%;
    max-width: 1920px;
  }
}

.btn-primary {
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: var(--color-accent);
  font-size: var(--font-size-md);
  padding: 12px 14px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 500;
  color: var(--color-text-primary);
  border: solid 1px rgba(0, 0, 0, 0.1);

  &-sm {
    cursor: pointer;
    padding: 8px 10px;
    font-size: var(--font-size-sm);
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    color: var(--color-text-primary);
    border: solid 1px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background-color: var(--color-accent);
    &:hover {
      background-color: #f0d1ff;
    }
  }

  &:hover {
    background-color: #f0d1ff;
  }
}

.btn-secondary {
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: transparent;
  font-size: var(--font-size-md);
  padding: 12px 14px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 500;
  color: var(--color-text-primary);
  border: transparent solid 1px;

  &:hover {
    background-color: #f0f0f0a4;
    border: solid 1px var(--color-stroke-primary);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  z-index: 10;
}
